{% extends 'base.html' %}

{% block title %}
<title>Following - CineList</title>
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<style>
  body {
    background-color: #000;
    color: white;
  }

  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #333;
  }

  .top-bar h5 {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
  }

  .no-following {
    text-align: center;
    margin-top: 100px;
    font-size: 1.5rem;
    color: #ccc;
  }

  .user-icon {
    font-size: 1.3rem;
    color: white;
  }
</style>

<div class="top-bar">
  <a href="{% url 'user_info' user.id %}" class="text-white"><i class="fas fa-arrow-left"></i></a>
  <h5>Following</h5>
</div>

  <h6 class="mt-3">People {{user|capfirst}} following</h6>

  {% if details %}
    <ul class="list-group mt-1">
      {% for user in details %}

        {% if user.following_id.username != current_user.username %}
      <li class="list-group-item bg-dark text-white border-secondary d-flex justify-content-between align-items-center">
        <a href="{% url 'user_info' user.following_id.id  %}" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">{{ user.following_id.username|capfirst }}</a>
      </li>

        {% else %}

      <li class="list-group-item bg-dark text-white border-secondary d-flex justify-content-between align-items-center">
        <a href="{% url 'user_profile'  %}" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">{{ user.following_id.username|capfirst }}</a>
      </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% else %}
    <div class="no-following">No Following</div>
  {% endif %}
</div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}
