{% extends 'base.html' %}

{% block title %}
<title>Cinelist- User Profile</title>
{% endblock %}

{% block content %}
<div class="container my-5">
  <!-- Current Password Card -->
  <div class="card border-0 rounded-4 shadow-lg mx-auto" style="background: linear-gradient(to right, hwb(0 11% 89%), rgb(44, 44, 44)); color: #f1f5f9; width: 600px; height: 300px; position: relative;">
    <div class="card-body p-5 d-flex justify-content-center align-items-center">
      <form action="" method="post" class="w-100">
        <div class="col-auto">
         <label for="inputPassword6" name="current_password" class="col-form-label fs-6">After submission, you will be redirected to the login page.</label>
        </div>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
          <button class="btn btn-outline-info me-md-2" type="submit">Submit</button>
          <a href="{% url 'user_profile' %}" class="link-offset-0">
            <button class="btn btn-outline-secondary me-md-2" type="button">Cancel</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
